<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="./static/css/bootstrap.min.css">
    <meta charset="utf-8">
    <title></title>
  </head>
  <style>
    body {
      overflow: hidden;
      background: #111;
      }
  </style>
  <body>
    <canvas style="position:fixed; top:0; left:0"></canvas>
    <testing></testing>
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </body>
  <script src="./static/js/zepto.min.js"></script>
  <script src="./static/js/cons.js"></script>
  <script src="./static/js/bootstrap.bundle.min.js"></script>
</html>
