<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="shortcut icon" href="./static/images/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="./static/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="./static/css/daterangepicker.css" />
    <meta charset="utf-8">
    <title>Student Directory</title>
  </head>
  <style>
    body {
      overflow: hidden;
      background: #111;
      }
    .ital {
      font-style: italic;
      color: grey;
    }
  </style>
  <body>
  <!-- Toast -->
  <div class="position-fixed bottom-0 end-0 p-3" style="z-index: 5">
    <div id="liveToast" class="toast hide" role="alert" aria-live="assertive" aria-atomic="true">
      <div class="toast-header">
        <strong class="me-auto">Record Updated</strong>
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
      <div class="toast-body">
        <p id="toasttext"></p>
      </div>
    </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="violation-form" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>
          <div class="modal-body">
            <div class="form-floating mb-3">
              <input type="email" class="form-control" id="floatingInput" name="dates">
              <label for="floatingInput">Date of Violation</label>
            </div>
            <div class="form-floating">
              <select class="form-select" id="floatingSelect" name="infraction">
                <option selected value="Dress Code">Dress Code</option>
                <option value="Loitering">Loitering</option>
                <option value="Harassment">Harassment</option>
              </select>
              <label for="floatingSelect">Infraction</label>
            </div>
            <div class="form-floating">
              <textarea class="form-control" id="floatingTextarea2" style="height: 100px; margin-top:15px" name="details"></textarea>
              <label for="floatingTextarea2">Details</label>
            </div>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-primary" data-bs-dismiss="modal" id="form" value="Add Record">Add Record</button>
          </div>
      </div>
    </div>
  </div>
    <canvas style="position:fixed; top:0; left:0;"></canvas>
    <div id="test">
      <div class="position-absolute top-0 start-50 translate-middle-x">
        <search-form></search-form>

      </div>
    </div>
  </body>
  <script type="text/javascript" src="./static/js/jquery.min.js"></script>
  <script type="text/javascript" src="./static/js/moment.min.js"></script>
  <script type="text/javascript" src="./static/js/daterangepicker.min.js"></script>
  <script src="./static/js/zepto.min.js"></script>
  <script src="./static/js/bootstrap.bundle.min.js"></script>
  <script src="./static/js/vue.js"></script>
  <script type="text/javascript" src="./static/js/axios.min.js"></script>
  <script src="./static/js/mainjs.js"></script>
  <script type="text/javascript">


    $('input[name="dates"]').daterangepicker({
      "singleDatePicker": true,
      "startDate": "05/23/2021",
      "endDate": "05/29/2021"
    });

    $("#form").click( function() {
      var body = {
        'details': $("[name='details']").val(),
        'name': localStorage.getItem("name"),
        'dates': $("[name='dates']").val(),
        'infraction': $("[name='infraction']").val()
      }
      axios({
        method: 'post',
        url: '/add_violation',
        data: body
          })
      .then(function (response) {
        localStorage.setItem("new_violation", $("[name='infraction']").val())
        console.log(response);
      })
      .catch(function (error) {
          console.log(error);
      });
    });
    const mountApp = x.mount('#test')
  </script>

  <script src="./static/js/cons.js"></script>
</html>
