<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="./static/css/report.css">
    <link rel="stylesheet" href="./static/css/bootstrap.min.css">
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
  <div id="report">
    <reportdoc></reportdoc>
  </div>
  </body>
  <script src="./static/js/vue.js"></script>
  <script src="./static/js/report.js"></script>
  <script type="text/javascript" src="./static/js/axios.min.js"></script>
  <script type="text/javascript">
    const mountApp = y.mount('#report')
  </script>
</html>
